<hgroup class="title">
    <h1 class="error">Error.</h1>
    <h2 class="error">The page you are trying to access doesn't exist. Please ensure that you have typed in the correct address.</h2>
</hgroup>
